<div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                                                <div class="product-img">
                                                    <a href="product-details.html"><img src="img/product-3/1.jpg" alt="#"></a>
                                                    <div class="real-estate-agent">
                                                        <div class="agent-img">
                                                            <a href="team-details.html"><img src="img/blog/author.jpg" alt="#"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-badge">
                                                        <ul>
                                                            <li class="sale-badg"><span>dffd</span></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="product-title"><a href="http://127.0.0.1:8000/product-details?id=2">sdfs</a></h2>
                                                    <div class="product-img-location">
                                                        <ul>
                                                            <li>
                                                                <a href="locations.html"><i class="flaticon-pin"></i>
                                                                    df</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                                        <li><span> 2 </span>
                                                            Bed
                                                        </li>
                                                        <li><span> 2 </span>
                                                            Bath
                                                        </li>
                                                        <li><span> 2 </span>
                                                            Bath
                                                        </li>



                                                        <li><span>2 </span>
                                                            Square Ft
                                                        </li>
                                                    </ul>
                                                    <div class="product-hover-action">
                                                        <ul>
                                                            <li>
                                                                <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                                    <i class="flaticon-expand"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                                    <i class="flaticon-heart-1"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="product-details.html" title="Product Details">
                                                                    <i class="flaticon-add"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-info-bottom">
                                                    <div class="product-price">
                                                        <span>$ <span>2 </span>
                                                            <label>/Month</label></span>
                                                    </div>
                                                </div>
                                            </div>
